* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.field-validation-error {
    color: red;
}
.validation-summary-errors {
    color: red;
}
.validation-summary-errors ul {
    list-style: none;
}
